<div class="profile">

    <div class="avatar">
        <img id="avatar" class="img" alt="avatar">
    </div>

    <div class="nickname_area">
        <h4 id="nickname" class="nickname"></h4>
        <i id="sex" class="web_wechat_women"></i>
    </div>

    <p id="signature" class="signature"></p>

    <div class="meta_area">
        <div class="meta_item">
            <label class="label" for="">备注：</label>
            <p id="remark" class="value"></p>
        </div>
    </div>

    <div class="action_area">
        <button id="send" class="button" href="#">发消息</button>
        <br />
        <br />
        <button id="delete" class="button" href="#" style="background: rgb(235, 59, 42);">删除好友</button>
    </div>
</div>
